<form class="search-form">
  <mat-form-field appearance="fill" class="search-field">
    <mat-label>Search by title</mat-label>
    <input matInput name="text" [(ngModel)]="text">
  </mat-form-field>
  <button class="search-btn" mat-stroked-button color="warn" (click)="searchByTitle(text)" [disabled]="!text">
    Search
  </button>
</form>
<ng-content></ng-content>
<div *ngIf="searchMode" class="results">
  <h2 *ngIf="noResults">No results found</h2>
  <button mat-raised-button color="primary" (click)="announcementService.refreshComponent();">
    Go back
  </button>
</div>
